/* ESTILOS PRIMER SECTION */

.first-section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}
.box-1 {
  display: flex;
}
.box-2 img {
  margin-left: -50px;
  position: relative;
  left: 20%;
  top: 30%;
  
}
.p-first-section {
  margin: 30px 0 40px 0;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

  

/* ESTILOS SEGUNDA SECTION */

.img-onClick-1 {
  width: 85%;
  position: relative;
  top: 50px;
}
.text-onClick-1 {
  position: relative;
  left: 40px;
  top: 100px;
}

.img-onClick-2 {
  width: 85%;
  position: relative;
  top: 50px;
  left: 60px;
}
.text-onClick-2 {
  position: relative;
  left: 120px;
  top: 115px;
}
.img-onClick-3 {
  width: 85%;
  position: relative;
  top: 50px;
  left: 80px;
}

.text-onClick-3 {
  position: relative;
  left: 160px;
  top: 115px;
}

/* ESTILOS TERCERA SECTION*/


.card-styles {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.card:nth-child(1) {
  margin-top: 0;
}

.card:nth-child(2) {
  margin-top: 70px;
}
.card:nth-child(3) {
  margin-top: 140px;
}
.img-logo {
  position: relative;
  top: 10px;
}
.text-blue {
  color: hsl(229, 31%, 21%);
  position: relative;
  top: 20px;
}
.card-img {
  top: 70px;
  max-width: 100%;
  position: relative;
}
.card-p-color {
  color: hsl(229, 8%, 60%);
  font-size: 14px;
  font-weight: 100;
  top: 30px;
  position: relative;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 30%;
  height: 300px;
}
.card a {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: hsl(231, 69%, 60%);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  top: 100px;
  position: relative;
}
.style-button-mobile{
    display: flex ;
    width: 80% !important;
    top: 26% !important;
    margin-left: 11% !important;

  }